# Las matemáticas tras la regresión lineal

#### Las tablas de contingencia

In [13]:
import pandas as pd

In [14]:
df = pd.read_csv('/Users/Israel/Documents/python-ml/python-ml-course-master/datasets/gender-purchase/Gender Purchase.csv')

In [15]:
df.head()

   Gender Purchase
0  Female      Yes
1  Female      Yes
2  Female       No
3    Male       No
4    Male      Yes

In [16]:
df.shape

(511, 2)

In [17]:
contingency_table = pd.crosstab(df['Gender'],df['Purchase'])
contingency_table

Purchase   No  Yes
Gender
Female    106  159
Male      125  121

In [18]:
contingency_table.sum(axis = 1)

Gender
Female    265
Male      246
dtype: int64

In [19]:
contingency_table.sum(axis = 0)

Purchase
No     231
Yes    280
dtype: int64

In [20]:
# Tambien se pueden calcular la proporciones

contingency_table.astype('float').div(contingency_table.sum(axis=1), axis = 0)

# El comando astype se utilizar para psar los enteros a floats y asi poder hacer la división, luego la función div()
# divide el segundo argumento entre el primero, que en nuestro caso es la suma total

Purchase       No      Yes
Gender
Female    0.40000  0.60000
Male      0.50813  0.49187

Si es mujer, con un 60% de probabilidades comprara el producto, y si es hombre habra un 49% de probabilidades de que se lo lleve

## Probrabilidad condicional

In [22]:
from IPython.display import display, Math, Latex

* ¿Cuál es la probabilidad de que un cliente compre un producto sabiendo que es un hombre?



* ¿Cuál es la probabilidad de que sabiendo que un cliente compra un producto sea mujer?

In [36]:
display(Math(r'P(Purchase|Male) = \frac{Numero \ total \ de \ compras \ hechas \ por \ hombres}{Número \ total \ de \ hombres \ del \ grupo} = \frac{Purchase \cap Male}{Male}'))
121/246

0.491869918699187

In [30]:
display(Math(r'P(No\ Purchase|Male) = 1-P(Purchase|Male)'))
125/246

0.508130081300813

In [32]:
display(Math(r'P(Female|Purchase) = \frac{Número \ total \ de \ compras \ hechas \ por \ mujeres}{Número \ total \ de \ compras} = \frac{Female \cap Purchase}{Purchase}'))
159/280

0.5678571428571428

In [33]:
display(Math(r'P(Male/Purchase)'))
121/280

0.43214285714285716

In [35]:
# Los casos interesantes serian:

display(Math(r'P(Purchase|Male)'))
print(121/246)
display(Math(r'P(No \ Purchase|Male)'))
print(125/246)
display(Math(r'P(Purchase|Female)'))
print(159/265)
display(Math(r'P(No \ Purchase|Female)'))
print(106/265)

0.491869918699187

0.508130081300813

0.6

0.4

## Ratio de probabilidades

#El ratio de exito para un grupo determinado se define como el cociente entre los casos de exito sobre los de fracaso en el suceso estudiado y para cada grupo